.header{
    position:fixed;
    top:0;
    height:12vh;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#f8c870;
    box-shadow: 3px 3px 5px rgb(29, 22, 29);
    border: 1px solid #fff;
}
.ulList{
    display:flex;
}
.listItem{
    padding: 10px;
    list-style-type: none;
}

.title{
    padding: 30px;
}